.main {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 100px;
    background-image: url(../images/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div1,
.div2,
.div3 {
    width: 350px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
}

.div2,
.div3 {
    color: white;
    background-image: url(../images/4.jpg);
}

.div1 {
    background-image: url(../images/5.jpg);
}